.homeContent{ 
    background: rgba(7, 32, 56, 0.8);  
    box-shadow: 5px 5px 15px 5px #0f0f0f;
    border-top: 1px solid $white;
    border-left: 1px solid $white;
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

   

    .content{

        position: absolute;
        top: 20%;
        left: 12%;
        font-family: $font-2;

        h1{
            font-size: 5rem;
            color: $color-4;
            text-shadow: 2px 3px 2px $white;
        }
        h2{
            font-size: 2.5rem;
            padding: 1.5rem 0 0.5rem;
            color: $color-5;
            text-shadow: 1px 2px 1px $white;
        }
        h3{
            font-size: 2rem;
            padding: 1rem 0 2.5rem;
            color: $color-5;
            text-shadow: 1px 2px 1px $white;                       
        }
        
        ul{
            li{
                list-style-type: disc;
                margin-left: 20%;
                font-size: 1.4rem;
                padding: 1rem 0rem;
                color: $color-5;
                text-shadow: 1px 2px 1px $white;                       

            }
        }
        .pdf{
            margin-top: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                font-size: 1.5rem;
                background: rgb(211, 140, 18, 0.8); 
                padding: 1rem 2rem;
                border-radius: $borderRadius;
                box-shadow: 0 2px 1px $white;
                transition: 0.4s ease;
            &:hover{
                background: $color-4;
                box-shadow: 0 0 10px $color-4,
                0 0 20px $color-4,
                0 0 40px $color-4,
                0 0 60px $color-4;
                color: #0f0f0f; 
                }
            }
        }
        .introCardBtn{            
            a{
                font-size: 1.5rem;
                background: rgb(211, 140, 18, 0.8);   
                padding: 1rem 2rem;
                border-radius: $borderRadius;
                box-shadow: 0 2px 1px $white;
                transition: 0.4s ease;
            &:hover {                
                background: $color-4;
                box-shadow: 0 0 10px $color-4,
                0 0 20px $color-4,
                0 0 40px $color-4,
                0 0 60px $color-4;    
                color: #0f0f0f;        
                }
            }
        }

    }
}
@media screen and (max-width: 850px) {
    .homeContent{
        margin: 0 !important;
    }
}
@media screen and (max-width: 580px) {
    .homeContent{
        &:after{
            background: url("../../media/clavier.jpg") no-repeat 60% 50%/cover !important;
        }
        h1{
            font-size: 3rem !important;
        }
        h2{
            font-size: 1.8rem, important !important;
        }
    }
}