::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyIntro{
    background-color: rgb(77, 131, 231);
    width: 100%;
    height: 95vh;
    border-radius: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.congrats{
    display: flex;
    flex-direction: column;
    width: 650px;     
    text-align: center;

    h1{
        font-size: 4rem;
        text-align: center;
        color: red;
        margin-bottom: 40px;

    @-webkit-keyframes bounce-in-fwd {
    0% {
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    72% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    81% {
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    89% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    95% {
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    }

    @-webkit-keyframes bounce-in-fwd {
    0% {
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    72% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    81% {
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    89% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    95% {
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    }

    @keyframes bounce-in-fwd {
    0% {
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    72% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    81% {
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    89% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    95% {
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    }
    -webkit-animation: bounce-in-fwd 1.6s both;
            animation: bounce-in-fwd 1.6s both;



    }
    
    h2{
        font-size: 3rem;
        margin-bottom: 80px;        
        @-webkit-keyframes slide-in-bck-tl {
            0% {
              transform: translateZ(700px) translateY(-300px) translateX(-400px);
              opacity: 0;
            }
            100% {
              transform: translateZ(0) translateY(0) translateX(0);
              opacity: 1;
            }
          }        
        @keyframes slide-in-bck-tl {
            0% {
              transform: translateZ(700px) translateY(-300px) translateX(-400px);
              opacity: 0;
            }
            100% {
              transform: translateZ(0) translateY(0) translateX(0);
              opacity: 1;
            }
          }
          
          -webkit-animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          
                  animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                  -webkit-animation-delay: 1.5s;
                          animation-delay: 1.5s;
    }

    h3{
        font-size: 2rem;
        color: rgb(143, 32, 32);       

        @-webkit-keyframes fade-in-bottom {
          0% {
            transform: translateY(50px);
            opacity: 0;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
        @keyframes fade-in-bottom {
          0% {
            transform: translateY(50px);
            opacity: 0;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        -webkit-animation-delay: 4s;
                animation-delay: 4s;         
                
    }
    .blink{
      @-webkit-keyframes clignoter {          
        0%   { opacity:0; }
        40%   {opacity:1; }
        100% { opacity:0; }
      }
      
  @keyframes clignoter {
          0%   { opacity:0; }
          40%   {opacity:1; }
          100% { opacity:0; }
  }                        
              
  -webkit-animation: clignoter 0.8s infinite;                    
          animation: clignoter 0.8s infinite;
          -webkit-animation-delay: 5s;
                  animation-delay: 5s;
    }
    
}


.cardContainer {
    width: 430px;
    height: 600px;
    position: relative;
    margin: 0auto;  
    @-webkit-keyframes swirl-in-fwd {
        0% {
          transform: rotate(-540deg) scale(5);
          opacity: 0;
        }
        50%{
            transform: rotate(-540deg) scale(3);
          opacity: 0;
        }
        100% {
          transform: rotate(0) scale(1);
          opacity: 1;
        }
      }  
    @keyframes swirl-in-fwd {
        0% {
            transform: rotate(-540deg) scale(5);
            opacity: 0;
          }
          50%{
              transform: rotate(-540deg) scale(3);
            opacity: 0;
          }
          100% {
            transform: rotate(0) scale(1);
            opacity: 1;
          }
      }
      -webkit-animation: swirl-in-fwd 1.3s ease-out both;
              animation: swirl-in-fwd 1.3s ease-out both;
              -webkit-animation-delay: 2.2s;
                      animation-delay: 2.2s;
   

    .card{
        width: 100%;
        height: 100%;         
        box-shadow: rgba(0,0,0,0.35) 2px 5px 15px;
        border-radius: 25px;
    
    
        .glare{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.7;
            width: 100%;
            height: 100%;
            transition: all 0.15s ease-out;
            border-radius: 25px;
            mix-blend-mode: hard-light;
            background: radial-gradient(circle at 50% 0%, rgb(184, 196, 211), transparent);       
        
        }
        .cardContent{                  
            width: 100%;
            height: 100%;                           
            overflow: hidden;
            border-radius: 25px;    
            transition: all 0.15s ease-out;
            z-index: 1;
            }
        
            img{
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }              
            
    }
}   



  

