::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    height: 500px;
    perspective: 1000px;
}

.cardContent{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;    
    transition: all 0.15s ease-out;

    & img{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .glare{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.15s ease-out;
        border-radius: 25px;
        mix-blend-mode: hard-light;
        background: radial-gradient(circle at 50% 0%, rgb(184, 196, 211), transparent);
    
    }
}

  

